# Zauberzeug C++ style
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
