# Zauberzeug C++ style
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 130
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: true
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
