[submodule "owl"]
	path = owl
	url = https://github.com/ianh/owl.git
[submodule "components/esp32-zeug"]
	path = components/esp32-zeug
	url = git@github.com:zauberzeug/esp32-zeug.git
[submodule "components/esp32-serial-flasher"]
	path = components/esp32-serial-flasher
	url = https://github.com/zauberzeug/esp-serial-flasher
[submodule "components/Adafruit_BNO08x"]
	path = components/Adafruit_BNO08x
	url = https://github.com/adafruit/Adafruit_BNO08x.git
